.row
  .large-6.columns
    %h3.top-bar-head.ta-l.marg-l-20.marg-t-15.weight-800= "#{page.upcase}."
  .large-6.columns
    %h4.top-bar-tagline.ta-r.marg-r-40.marg-t-15.weight-800.size-16= tagline.upcase