.row#home
  .large-6.columns
    %h1 LOREM IPSUM
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
    %p Fried cheese… with club sauce. It's as Ann as the nose on Plain's face.
    %p There's been a lot of lying in this family. And a lot of love! More lies. That coat costs more than your house!
  .large-6.columns
    .head-shot
      =image_tag('head_shot.jpg')
