$font-family: 'Raleway', sans-serif;
$red: rgb(241, 112, 112);
$active-grey: #555c70;
$active-top: -10px;
$lightest-grey: lighten(black, 90%);
$light-grey: lighten(black, 80%);
$medium-grey: lighten(black, 50%);
$dark-grey: lighten(black, 35%);
$darkest-grey: lighten(black, 25%);