/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'normalize'
 *= require 'foundation'
 *= require 'icon'
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import '_variables.css.scss';

body {
  background: lighten(black, 25%) !important;
  color: white;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  h1 {
    font-weight: 700;
    font-size: 2em;
  }
  .main-row {
    top: $active-top;
    position: relative;
    .main-content {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 750px;
      background: white;
      h1 {
        color: white;
      }
    }
  }
}

// text align
  .ta-c {
    text-align: center;
  }

  .ta-r {
    text-align: right;
  }

  .ta-l {
    text-align: left
  }

// margin
  // right
    .marg-r-5 {
      margin-right: 5px;
    }

    .marg-r-10 {
      margin-right: 10px;
    }

    .marg-r-15 {
      margin-right: 15px;
    }

    .marg-r-20 {
      margin-right: 20px;
    }

    .marg-r-30 {
      margin-right: 30px;
    }

    .marg-r-40 {
      margin-right: 40px;
    }

    .marg-r-50 {
      margin-right: 50px;
    }
  // left
    .marg-l-5 {
      margin-left: 5px;
    }

    .marg-l-10 {
      margin-left: 10px;
    }

    .marg-l-15 {
      margin-left: 15px;
    }

    .marg-l-20 {
      margin-left: 20px;
    }

    .marg-l-30 {
      margin-left: 30px;
    }

    .marg-l-40 {
      margin-left: 40px;
    }

    .marg-l-50 {
      margin-left: 50px;
    }
  // top
    .marg-t-5 {
      margin-top: 5px;
    }

    .marg-t-10 {
      margin-top: 10px;
    }

    .marg-t-15 {
      margin-top: 15px;
    }

    .marg-t-20 {
      margin-top: 20px;
    }

    .marg-t-30 {
      margin-top: 30px;
    }

    .marg-t-40 {
      margin-top: 40px;
    }

    .marg-t-50 {
      margin-top: 50px;
    }

// font weight
  .weight-100 {
    font-weight: 100;
  }

  .weight-200 {
    font-weight: 200;
  }

  .weight-300 {
    font-weight: 300;
  }

  .weight-400 {
    font-weight: 400;
  }

  .weight-500 {
    font-weight: 500;
  }

  .weight-600 {
    font-weight: 600;
  }

  .weight-700 {
    font-weight: 700;
  }

  .weight-800 {
    font-weight: 800;
  }

  .weight-900 {
    font-weight: 900;
  }
// font size
  .size-16 {
    font-size: 16px;
  }

  .size-20 {
    font-size: 20px;
  }