/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'normalize'
 *= require 'foundation'
 *= require 'icon'
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import '_variables.css.scss';

body {
  background: lighten(black, 25%) !important;
  color: white;
  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  h1 {
    font-weight: 700;
    font-size: 2em;
  }
  .main-row {
    top: $active-top;
    position: relative;
    .main-content {
      background: $red;
      height: 500px;
      h1 {
        color: white;
      }
    }
  }
}