@import '_variables.css.scss';

$nav-side-padding: 75px;
$nav-height: 150px;

.nav {
  text-align: center;
  background-color: $nav-item-background;
  padding-left: $nav-side-padding;
  padding-right: $nav-side-padding;
  height: $nav-height;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: grey;

  .nav-item {
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid white;
    background-color: $nav-item-background;
    height: 100%;
    padding-top: 40px;
  }

  a:hover {
    text-decoration: none;
  }

  a {
    color: $light-grey;

  }

  a:hover {
    text-decoration: none;
  }

  .active {
    background-color: $light-grey;
    padding-top: 50px;
    top: $active-top;
    border: none;
    color: $medium-grey;
  }

  .icon {
    font-size: 30px;
    margin-bottom: 10px;
  }
}