@import '_variables.css.scss';

$nav-side-padding: 75px;
$nav-height: 150px;

@-webkit-keyframes borderGrow {
  from {
    border: none;
  }
  to {
    border: 5px solid $active-grey;
    border-radius: 50%;
    background: $active-grey;
    font-size: 35px;
  }
}

@keyframes borderGrow {
  from {
    border: none;
  }
  to {
    border: 5px solid $active-grey;
    border-radius: 50%;
    background: $active-grey;
    font-size: 35px;
  }
}

.nav {
  text-align: center;
  background-color: $nav-item-background;
  padding-left: $nav-side-padding;
  padding-right: $nav-side-padding;
  height: $nav-height;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: grey;

  .nav-item {
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid white;
    background-color: $nav-item-background;
    height: 100%;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;

    .nav-text {
      position: absolute;
      width: 100%;
    }
  }

  a:hover {
    text-decoration: none;
  }

  a {
    color: $light-grey;

  }

  a:hover {
    text-decoration: none;
  }

  .active {
    background-color: $light-grey;
    top: $active-top;
    border: none;
    color: $medium-grey;

    .icon {
      border: 5px solid $active-grey;
      border-radius: 50%;
      background: $active-grey;
      color: $red;
    }
  }

  .icon {
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .nav-item:hover {
    .icon {
      color: white;
      border: 5px solid $active-grey;
      border-radius: 50%;
      background: $active-grey;
      font-size: 35px;
      -webkit-animation: borderGrow .25s;
      animation: borderGrow .25s;
    }
  }

  .nav-item.active:hover .icon{
    color: $red;
  }
}