.sidebar
  %h1 JANE STERNBACH
  %h3 Web Developer.
  %h3 Netflix Addict.
  %h3 Not In That Order.
  .row
    .large-1.large-offset-5.columns
      %a{href: "https://github.com/janesternbach"}
        .icon.icon-github
